body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E7E8D1;
  }
  
  header {
    background-color:#B85042;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  #sorting,
  #filtering {
    margin-bottom: 20px;
  }
  
  .product {
    border: 3px solid #2c2929;
    border-radius: 18px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .product img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .product h3 {
    margin: 0;
  }
  
  .product p {
    margin: 5px 0;
  }
  