img{
    width:350px;
    height:250px;
}
div {
     margin-top: 10px;
}
select{
    border: 20px;
    border-color: brown;

   color: rgb(74, 38, 219);
    background-color: rgb(153, 198, 76);
}
body{
background-color:antiquewhite ;
justify-items: unset;
align-items: center;
}
